*{
  padding:0;
  margin:0;
}
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Times New Roman';
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 15px 750px;
}

.button2 {
  background-color: #e3ebf3; 
  color: #234464;
  border: 2px solid  #234464 ;
}

.button2:hover {
  background-color: #234464;
  color: #e3ebf3;
}


  
  
 
